@value makerGrey from  './common/colors.css';

* {
  box-sizing: border-box;  /*박스사이즈가 맞지 않을때 */
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: makerGrey;
}
